{% load static %}
<h1> List of Request </h1>

<p><a href="{% url 'home'%}">Home</a></p>
<br><br>

<table class="container">
	<thead>
		<tr>
			<th><h1>Course</h1></th>
			<th><h1>Role</h1></th>
			<th><h1>Profile Picture</h1></th>
		</tr>
	</thead>
	<tbody>
        {% for result in results %}
        <tr>
            <td class="text-left"> {{ result.course_code }} </td>
            <td class="text-left"> {{ result.role }} </td>
			<td><img src="{{ result.person.profile.image.url }}" width="300"></td>
        </tr>
        {% endfor%}
	</tbody>
</table>