#board {
  width: 320px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding-top: 50px;
}

#cards {
  width: 100%;
  height: 60%;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 1%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#buttons {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theButton {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  margin: 20px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  font-weight: 800;
}

.theButton:hover {
  transform: scale(1.02);
}

.noBut {
  color: #e21852;
  transition: 0.5s;
}

.yesBut {
  color: #25db9e;
  transition: 0.5s;
}

.noBut:hover {
  background-color: #e21852;
  color: white;
}

.yesBut:hover {
  background-color: #25db9e;
  color: white;
}

#register {
  width: 100%;
  height: fit-content;
}

#register * button {
  background-color: white;
  width: 100%;
  height: 60px;
  border-radius: 5%;
  border: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  font-weight: 800;
  color: #4bb6f4;
  font-family: "Roboto", sans-serif !important;
}

#register * button:hover {
  background-color: #4bb6f4;
  color: white;
}

.swiped-right {
  transition: 1s;
  transform: translateX(500px) translateY(10px) rotateZ(30deg);
  opacity: 0;
}

.swiped-left {
  transition: 1s;
  transform: translateX(-500px) translateY(10px) rotateZ(30deg);
  opacity: 0;
}

a {
  text-decoration: none !important;
}

.course-code {

}