.form-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 500px;
    border: 2px outset #dddddd;
    border-radius: 10px;
}

h2 {
    text-align: center;
    padding: 10px;
}

.form {
    padding: 15px;
}